@import '../../styles/scss/colors.scss';
@import '../../styles/scss/breakpoints.scss';

.donation-container {
    height: 100vh;
    padding: 50px 15px;

    &__snack-bar {
        background: $ocean-40;
        height: 30px;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        color: $ocean-80;
        font-family: 'IBM Plex Sans', sans-serif;
    }
    &__currency {
        font-weight: 700;
    }

    &__description {
        color: $slate;
    }

    @media #{$breakpoint-sm} {
        padding: 100px 15px;
        width: 70%;
        margin: 0 auto;
    }
    
    @media #{$breakpoint-md} {
        width: 50%;
    }

    @media #{$breakpoint-lg} {
        width: 40%;
    }
    
    @media #{$breakpoint-xl} {
        width: 30%;
    }

}