@import './styles/scss/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    margin: 0;
}

.main-app {
    max-width: 1440px;
    margin: 0 auto;
    background: $ocean-20;
}