$ocean-20: #f7f9ff;
$ocean-40: #e3ebfc;
$ocean-80: #5884ea;
$slate: #4e5468;
$slate-80: #5f667e;
$mint-40: #b6f2e4;
$mint: #19cca3;
$mint-120: #139879;
$strawberry: #f3376b;
$white: #ffffff;
$black: #000000;